@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>LeaderBoard MVP gives you view of Competitors and their points, Head to Head contest information.
   The player who gets more points is the winner, who makes less points are for draw and who get least points are lost.</p>
